Hallo,<br>
<br>
HealthChecker : <br><br>
{{ range $key, $value := . }}
Info for {{.Name}} <br>
Status : {{.Status}}<br>
Error : {{if .Error}} {{.Error}} {{else}} Not Found {{end}}.<br>
Details : {{if .Details}} {{range $key, $value := .Details}} {{range $k, $v := $value}} {{$k}} {{$v}} <br>{{end}}{{end}}
{{else}} Not Found {{end}}<br>
<hr style="width:50%;text-align:left;margin-left:0">
<br>
{{end}}